{
  "name": "alfa",
  "chef_environment": "development",
  "normal": {
    "knife_zero": {
      "host": "alfa.example"
    },
    "test": {
      "message": "Hello world!"
    }
  },
  "automatic": {
    "fqdn": "alfa.example"
  },
  "run_list": [
    "recipe[test::default]"
  ]
}
